@mixin button($backgroundColor, $boxShadow: 'no') {
    padding: 15px 25px 15px 25px;
    @include borderRadius(50px);
    background-color: $backgroundColor;
    border: none;
    font-weight: 700;
    cursor: pointer;
    @if $boxShadow == 'shadow' {
        box-shadow: 5px 15px 10px $veryPaleRed;
    }

    @if $backgroundColor == $brightRed {
        color: $veryLightGray;
    }

    @if $backgroundColor == $veryLightGray {
        color: $brightRed;
    }
    &:hover {
        opacity: 0.9;
    }
}

@mixin borderRadius($size) {
    border-radius: $size;
}

@mixin backgroundImage($url) {
    background-image: url($url);
    background-position: top right;
    background-repeat: no-repeat;
}

@mixin flex($direction: row) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
}

// Media Query 

@mixin device($device) {
    @if $device == 'mobile' {
        @media only screen and (min-width : 320px) {
            @content
        }
    };
    @if $device == 'tablet' {
        @media only screen and (min-width : 767px) {
            @content
        }
    };
    @if $device == 'desktop' {
        @media only screen and (min-width : 1024px) {
            @content
        }
    };
    @if $device == 'tabletAndDesktop' {
        @media only screen and (min-width : 767px) {
            @content
        }
    };
    
}