@import 'variables';
@import 'mixins';

html,
body,
ol,
ul {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cabinet Grotesk', sans-serif;
}

/* Typography */

%headingOne {
    font-size: 60px;
}

%headingTwo {
    font-size: 40px;
    text-transform: uppercase;
}

%headingThree {
    font-size: 25px;
}

p {

    line-height: 30px;
    font-size: 18px;
}

a {
    text-decoration: none;
}

/* Header styling */

.header {
    width: 100%;
    @include backgroundImage;
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: color;

    .con {
        .topBar {
            @include flex();
            width: calc(100% - 96px);
            padding: 48px;
            padding-top: 12px;
            padding-bottom: 12px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            position: fixed;
            top: 0;
            background-color: $black;

            .logoDiv {
                margin-right: auto;

                img {
                    width: 30px;
                    height: 40px;
                }
            }

            .navigation {
                margin-right: auto;
                display: none;

                @include mediaQuery('smallDesktop') {
                    display: block;
                }

                .nav {

                    ul {
                        @include flex();
                        list-style-type: none;

                        li {
                            margin: 0px 24px;

                            a {
                                color: $white;
                                opacity: 0.5;

                                &:hover {
                                    color: $white;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }

            button.addTributes {
                padding: 10px;
                border: 1px solid $white;
                color: $white;
                background: none;
            }
        }

        .hero {
            @include flex(column);
            width: calc(100% - 96px);
            padding: 48px;
            padding-bottom: 0;
            align-items: initial;

            @include mediaQuery('smallDesktop') {
                @include flex();
            }

            .logoDiv {
                text-align: center;
            }

            .heroText {
                padding-top: 48px;

                @include mediaQuery('smallDesktop') {
                    flex: 0 0 45%;
                    margin-right: auto;
                }


                h1 {
                    color: $white;
                    text-transform: uppercase;
                    @extend %headingOne;
                }

                p {
                    color: $white;
                    opacity: 0.5;
                }

                p.side {
                    text-align: right;
                    opacity: 1;

                    small {
                        opacity: 0.5;
                    }
                }

                img {
                    width: 100px;
                    height: 120px;
                }
            }

            .heroImage {
                @include mediaQuery('smallDesktop') {
                    flex: 0 0 50%;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.main {
    width: calc(100% - 96px);
    padding: 48px;

    h2 {
        @extend %headingTwo;
    }

    .con {
        .biography {
            .content {
                @include flex(column-reverse);
                width: 100%;

                @include mediaQuery('smallDesktop') {
                    @include flex();
                    align-items: flex-start;
                    justify-content: space-between;
                }

                .columnOne {
                    width: 100%;

                    @include mediaQuery('smallDesktop') {
                        display: none;
                    }

                    img {
                        width: 100%;

                        @include mediaQuery('desktop') {
                            width: initial;
                        }
                    }

                    @include mediaQuery('desktop') {
                        @include flex(column);
                        align-items: flex-start;
                        flex: 0 0;
                    }
                }

                .columnTwo,
                .columnThree {
                    width: 100%;

                    img {
                        width: 100%;

                        @include mediaQuery('smallDesktop') {
                            width: initial;
                        }
                    }

                    @include mediaQuery('smallDesktop') {
                        @include flex(column);
                        align-items: flex-start;
                        flex: 0 1;
                    }
                }
            }
        }

        .timeline {
            .content {
                @include flex(column);
                padding: 0%;
                margin: 0%;

                @include mediaQuery('smallDesktop') {
                    @include flex();
                    align-items: flex-start;
                }

                div {
                    padding: 12px;
                    margin-bottom: 12px;
                    border-right: 1px solid $black;
                    border-left: 1px solid $black;

                    .text {
                        @include mediaQuery('smallDesktop') {
                            @include flex();
                            align-items: flex-start;
                            justify-content: space-between;
                            padding: 0;
                        }

                        padding: 0;
                        border-right: none;
                        border-left: none;

                        h3 {
                            @extend %headingThree;
                            margin-top: 15px;
                            margin-right: 10px;
                        }
                    }

                    @include mediaQuery('smallDesktop') {
                        margin-right: 12px;
                        flex: 0 0 calc(33.3333333% - 24px);
                    }

                    img {
                        width: 100%;
                    }

                }
            }
        }
    }
}

.footer {
    background-color: $black;
    text-align: center;

    .con {
        // width: calc(100% - 96px);
        // padding: 48px;
        padding: 24px 0;

        .tributes {
            width: calc(100% - 96px);
            padding: 48px;
            text-align: left;
            color: $white;

            h2 {
                @extend %headingTwo;
            }

            >p {
                color: $white;
                opacity: 0.5;
            }

            .content {
                padding: 24px 0;
                ;
                text-align: center;
                @include flex(column);

                @include mediaQuery(smallDesktop) {
                    text-align: left;
                    @include flex();
                    align-items: flex-start;
                    justify-content: space-between;
                }

                .tribute {

                    @include mediaQuery(smallDesktop) {
                        flex: 0 0 45%;
                    }

                    @include mediaQuery(desktop) {
                        text-align: left;
                        @include flex();
                        align-items: flex-start;
                        flex: 0 0 45%;

                        img {
                            margin-right: 24px;
                        }

                    }

                    .image p {
                        text-transform: uppercase;
                    }

                    .image p>small{
                        color: $white;
                        opacity: 0.5;
                        text-transform: capitalize;
                    }
                    .text p {
                        color: $white;
                        opacity: 0.5;
                    }

                }
            }
        }

        .logoDiv {
            border-top: 1px solid $white;

            img {
                width: 40px;
                height: 50px;
            }
        }

        .attribution {
            color: $white;

            h3 {
                @extend %headingThree;
                text-transform: uppercase;
            }
        }
    }
}